#postsList {
    padding-top:10px;
    box-shadow: 3px 3px 3px 0px #CCC;
    background-color: white;
    border: 1px solid #EEE;
}

#postsList ul {
    list-style-type:none;
    padding-left:0px;
}

#postsList ul li {
    padding-top: 5px;
}

#postsList ul li:before {
    white-space:pre;
    content:"  ";
}
