html, body {
    height: 100%;
}

#page-container {
    min-height: 100%;
    margin-bottom: -90px;
}

#page-container:after {
    content: "";
    display: block;
}

#footer-container, #page-container:after {
    height: 90px;
}

#brand {
    padding-bottom: 3px;
}

#brand .title {
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

#brand a:hover {
    text-decoration: none;
}

#navigation {
    padding-top: 10px;
    text-align:right;
}

#navigation a {
    margin-left: 30px;
    padding: 4px;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
}

#content #comments {
    padding-top: 30px;
}

#content p img {
    float:left;
}

#content p {
    text-align: justify;
}

#postsList {
    font-size: large;
}

#postsList {
    padding-top: 10px;
    padding-left: 30px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.post p {
    text-indent: 10px;
}

#header {
    border-bottom: 1px solid #CCC;
    padding-bottom: 3px;
}

#footer {
    padding-top: 10px;
    border-top: 1px solid #CCC;
}

.contact {
    text-align:center;
}

.contact img {
    margin-right: 5px;
}

pre code {
    color: white;
    background-color: black;
    font-weight:bold;
}

pre {
    color: white;
    background-color: black;
}
