#brand {
    padding-bottom: 3px;
}

#brand .title {
    margin-top: 15px;
}

#navigation {
    padding-top: 10px;
    text-align:right;
}

#navigation a {
    margin-left: 30px;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
}

#content #comments {
    padding-top: 30px;
    text-align: right;
}

#content p img {
    float:left;
}

#content p {
    text-align: justify;
}

.post p {
    text-indent:20px;
}

#content #comments #sorry {
}

#header {
    border-bottom: 1px solid #CCC;
}

#footer:before {
    content:"---";
    margin:auto;
    font-family:monospace;
}

.contact {
    text-align:center;
}

pre code {
    color: white;
    background-color: black;
    font-weight:bold;
}

pre {
    color: white;
    background-color: black;
}
