---
layout: default
title: Blog Posts
---

<div class="about-me">
  <div class="presentation">
    <div class="picture">
      <img src="/images/profile.jpg" style="margin-bottom: 20px;">
    </div>
    <div class="text">
      <p>
        Je suis un développeur basé à Paris. Je construis des sites web et toutes sortes d'applications.
      <P>

      <p>
        Je peux aussi héberger votre site à faible ou moyenne fréquentation pour 15€ par mois. Je m'occupe pour vous des sauvegardes, des mises à jours et de la maintenance. Pour des applications plus complexes ou à plus gros trafic, n'hésitez pas à me demander une estimation.
      </p>

      <p>
        Prenez contact avec moi par email&nbsp;: <a href="mailto:royer.guillaume@guilro.com">royer.guillaume@guilro.com</a>.
      </p>

      <p><em>
        Ce site est bilingue Français- Anglais. Les parties qui concernent des sujets techniques sont rédigées en Anglais.
      </em></p>
    </div>
  </div> <!-- /.presentation -->

  <div class="presentation-2">
    <div class="project-list">
      <h3>Some projects I made</h3>
      <p>
        <a href="https://commentit.io">Comm(ent|it)</a>, a comment system for GitHub Pages that does not take away your control of data.
      </p>
      <p>
        <a href="https://dataelections.fr">Dataelections.fr</a>, a tool for searching and visualizing elections results in France.
      </p>
      <p>
        I worked at <a href="https://twitter.com/etalab">@etalab</a> on <a href="https://git.framasoft.org/codegouv/open-software-base-yaml">codegouv</a>.
      </p>
      <p>
        I also wrote a few tiny npm packages that are not that usefull
      </p>
      <ul>
        <li><a href="https://www.npmjs.com/package/cache-cache">cache-cache</a></li>
        <li><a href="https://www.npmjs.com/package/tremble-ci">tremble-ci</a></li>
      </ul>
    </div>
    <div class="pgp-key">
      <span class="text-muted">PGP : B505095B</h3>
    </div>
  </div>
</div>

<div class="posts-list">
  <h3>Blogposts</h3>
  {% for post in site.posts %}
    <p>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.categories contains 'french' %}
        <small class="text-muted">(French)</small>
      {% endif %} <br>
      <span class="text-muted">
        <em>{{ post.date | date_to_string }}</em>
      </span>
    </p>
  {% endfor %}
</div>
